<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OCCI2 -->
      <package
            uri="http://schemas.ogf.org/occi/core/ecore/2.0"
            class="occi.OcciPackage"
            genModel="model/OCCI2.genmodel"/>
   </extension>

</plugin>
