<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.occie"
            id="org.eclipse.cmf.occi.core.gen.design.extended.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.cmf.occi.core.gen.design.extended.ui.DesignerGeneratorAction"
               enablesFor="1"
               id="org.eclipse.cmf.occi.core.gen.design.generateSiriusDesigner"
               label="Generate Extended Sirius Design"
               menubarPath="org.eclipse.cmf.occi.core.occi-studio.ui.menu/group">
         </action>
      </objectContribution>
   </extension>
</plugin>
