# Don't use the Travis Container-Based Infrastructure
sudo: true

language: java

dist: trusty

matrix:
  fast_finish: true
  include:
  - os: linux
    jdk: oraclejdk8
    env: DISPLAY=:99.0

# install: true
# before_install:
# - echo "MAVEN_OPTS='-Xmx2048m -XX:MaxPermSize=512m'" > ~/.mavenrc

cache:
  directories:
  - $HOME/.m2

script:
- sh travis/build.sh

# Actions to perform after the build.
after_success:
- sh travis/tag_current_release.sh

before_deploy:
# Delete the current release version
- curl -X DELETE -uocciware:$BINTRAY_API_KEY https://api.bintray.com/packages/occiware/OCCI-Studio/update-site/versions/current-release

deploy:
  - provider: releases
    api_key:
    - secure: "JR8fXZjM4BCdJZv/2bmg3oCQldQT+q4l+RbQrOToAXnDEHpQTmqaVjNH/sL/FLZgLj0mVcOBcSZcpoqIJDspbP46nYPPEUQWed09UHQb3KSRfDSI77N0v6Pg3V+kiGXHexmTjYRSUmy9pp8q6xPNqIHp+JKXPXLqXH6rc7ExYqLtFcDrrNv7LlWIrDUoYCRKjMcOH3/lXLVBo5c8vz/ToJ5BXeqOxX39A85pjdEGHQpkGfQCJcEf5kAQOQCY6bStjlfINRx01W+30kkHRYcoaNpCLAc30VA/bHQG3UzTcg2CtMERJw4iu/6czxSlqOQB3+oNJ9LBdcVMJYWlMUnro4SW8Efm1CAtd0CHroLbdKMysONqd1dne+Y1GKpBGFr0ud6h5k2oJ1L1zVk3bESDELVkTOQjlq7UpTC+gYaUArnySALRzjnFa2nCsHP2RoQzlavjX/DdRO1YhUZps25cxruwSyO40A2pCtEQ+DQ820eG76n/qP3EdmKPcPOnXBhif/zb/qn9Pb1Mo9ifZCFH6ZaAKo0jjrZD4ZgfSmSeqi/uZFbTq1WomVF4/+ChXeKblj6ypLcze21QVd4bpQVAlaA98KND9UgqPsu99aINORwbtfB1zCr3lgRu2hRNVPOm8FrsZnD+ulHDcZSvgD5Dh/Ao6vCwzuwL8YOHtTIKnU8="
    file:
      - "repositories/org.eclipse.cmf.occi.product/target/products/org.eclipse.cmf.occi.product-linux.gtk.x86_64.zip"
      - "repositories/org.eclipse.cmf.occi.product/target/products/org.eclipse.cmf.occi.product-macosx.cocoa.x86_64.zip"
      - "repositories/org.eclipse.cmf.occi.product/target/products/org.eclipse.cmf.occi.product-win32.win32.x86_64.zip"
    skip_cleanup: true
    overwrite: true
    on:
      branch : master
      repo: occiware/OCCI-Studio
  - provider: bintray
    file: "travis/bintray.json"
    user: "occiware"
    key:
    - secure: "r+Hd3jiYnIjSz+u+DvjWELkVGfSnC7EBeQabee9GRS7bvUvXw5ZpGAEblZVFn//nzFV2BYUl2+7exyeOdM9q9lWG2yrvlHF5XIl0nZj0usWnR1FSXAPWO1yOq+LjCzbILUxpLeh2xhIss4mSiZz9yYmR+jmGEgCMgZow+N32z2qeenXv3v54Une88+0lCaTrMvKN0aFpy5mJLVY2RO60MBo5AUDpNvv3FdHInzsuQLpTN8W0EUvjlv1u5DYoUrv3RkyjgY1vVlXbomSP/4WZ0e07go2ItcXIFtLlC5k42r0uQO2hChQ8CYY4AwoN06258GIPGrxWaWfHzVIUWGSBe18nkPQyqfY5LP0JYeRWT/36yoiyDNp6xSQ8wLSlwF1GLjarjyTnJlHjjtGifmnHJALJhNwm9c6sHooLvbIuF/fXM1VUnF0y2u7xRbbgUIhFjotZjM4FbeT7jMt8Lc+N/XikPGTEb461EopfRvvHckV1YPEkRSNeXlxpmCCQIBL7Vqft578uimweWSzsMzuS2H11S04FJOxirmsgVGU3PfniFCvnQdiGSEmZWcApUVj5mwrRb6HF29pEEJ0FAoFDT7busTyj6Rlxa+49kUWs0qA67vUXtsh1JHfhHtj0EeFDzdC7c/m1AEYMTUgVOpcXXSh83Kg3PNA1p95fa3IFDeo="
    # passphrase: "Optional. In case a passphrase is configured on Bintray and GPG signing is used"
    # dry-run: "Optional. If true, skips sending requests to Bintray. Useful for testing your configuration"

after_deploy:
- sh travis/deploy-maven-artifacts.sh

env:
  global:
  - secure: "AyGE3Mvl4DGXscKdeJbhl+I4ywtW4toEwdBl9fJtIgyaW+FcDoQKhSwWmtNwwKVO+PcB3XuFroURcv/Slomd1FFm++0IP4KRKba5IfN1jZGDL42ApAtV+dBWN6ubypO9Z4An0htlTnmCO1QKJb/Uf8o0H7GRt6mBJrBXHq2k3OK0LYfWg64R9s7ppDiT6rZwbsSLA/JOJjSD14goIyrMAIiXfqy1fOEff15B1L/g0QZNujJOOKFs9hBcI190DZqwmbbZdzKSlPQF8rq07mgonV+LFalprlrteiNzAow3efr6qTvkCi2oHNxu9Il7iO5jH/1Wbqz6X3GDzYxaFjLhCoMJrczE1XjGabvMMpLQql7rCwUwL8bSOwwtEKlgpnqP87RZ4X+Fqpg6c0/BYzXkFn2uKczh8DXh7tStkc2rt0M+wTMUKo4fWvRc00BRnr7SFevk6zeIbR85+EvJ6DBIjiEQ3/6OP8rCwSbzwk0SsxbcLT0ZzxD8kqtuBNnIeLBvnye7sUD/kySnNfSj34RkUo8HFEA8G3DOfqKE9WuAeZU9g9309CTcuJWcnqzJdv42/iNHaJo5TDWsULuWsNpRKlFuqIpn0PbECuCpH+U3TUfYg70c7bvms8b3bnC2a1Wbg6PSz5Fr+o5N3y4VvJVlxaCHNwKGeE0debRfK/5iWJ0="
  - secure: "V2y0S5RzMzNEINrZcYXYC2b1zJb9ONufhx3jd2uGFZDFie617HOW1x22ggXkg+VuVmniwes9/5A0HvXZz6ePHEFQfkUOwdOYlyIaIiLZdSDAPjznWuO0aKYAJsr7481y5BC8I5yanqREm1+3F1Hp0TI6RzNzrEwIdfdbByy0Leb+OG6ZJj5JlBYrolmIMn/hTgJ5pAeIVVwfW1Av8rm1PuIFdDFA7dL4oBSB5vQYfvHC/NQN+NmLAw1Z+DXFnKuB8R1nenr5HJ6gls/Gsqg9mV4A+USlqpPlSSxFb/8lbZUX00XUe9vTYUkpkmii939m4cBs4iFiLmnV3XN+qfcRc1chkUNcqwxNuBRQwfcOypD3ShaWXDv6NDFrlstlEHD1mZ9iZ64x33zpYuVWGzdry/qKqdWPG4Xk24c3vJ3hEXDAqwKoRNRrjtlNHXXDF1XVzWee/kbqpcs03Y/4yUOk9tr4XjlfPtuM/OxK4saEIkhMH4RL0BWUSehkLL+B6dfMXI+vOArS0NRLoPLU5fCE32N8eIuaY1yeZDmHvN5md1Z5uTAw2l8thNP/YRd+/twM3/RRHPtz5tX1hLHrNuGmYql4Bs2xCwoFUetCYZX70HHLfSdh1fTvmhnwZCxG0I7nDnVvx+rjdsLXo4dAeaR6TOj/G6uPbIolJQdW8GB/Fq0="
  - secure: "Ih21rdC59sBcW7QhcBVsXDndJBS0DReI+LNRY1ghirSR+AFx4SeF5xo9gUJhyFo21+rk+liGpxSHL5kLtoCXD8Vhrp0ZJesHzjIKFuPklCr/yH1zjVUKs0UeqbPf4wqCBR1acS67cKCy38mO0j1dlZ65hBv6VjtAkp/ENsifcZYCh5QlO+g38HcL4qHxCERFDAN40WSsM0qz8qA2kgELxjh5pFRu16/ltTPbcI2qq6ZRY2Begk8snk6ZLuGukhZ+SEnH1sd3At3cPi/ZrYfS+x7Tk0jpQKQSicntLUAr6dVErT1SS0IZMij4aUnsCoYhlTsD46HG8VNAVKgoVb3+52dysC3ewL4qvhdQIBHdWb0ULaKurSflvvUzKSip/zvo6BJq+nJ2N/+ihgMRWTHIE9u0thwzh9U07xvTTzyynz4C7PMJY/4pGsrYegiJkY6Ia11jJIPBAgz3nUI3jQAYJFISPvkjZvdAepkYAHIBPw9CP9NvY12CTelU2OdlFNaLYQjJoU8IKaAm362uuFhf8pkt977xIyDjL8XHq9uc6fKFnjiXvgFCl3eq93NMckTyXLFFvnKJ+IO+LOoWfUrGvHwJ5Xuqtq/DisL1k72/rHACwAEShGeU72JfYEurKC1gl9SxOHOn7AVVkFoof0mIBZodvvTMHpFaZVLB9aTbmQI="
  - secure: "yxwv1ZHyTdFx7nBl7ZW8wk8eGUR+dY21XfT2s4ltkKB+fj+dDLNo2pjDncVzX+ckK3a0TAMvfFUXKJ+UZHcXV3+rC6rTndJ4aOVFf9jlC+5sOfZ6w9VXgvX+H0tyk9/oAMgWVmdPCgoMAKi2POZrGKiQEMRgVY2u2oHqpiyp6lf3prBtAiXqjPx5zcxfBc1xCfzAidsFDQJJn2D+0eokLp2IDkMsz3oFdbDXfKMHXmGCwr+1y1836VKqGnUlw0KvUs/pElTy/Agrr+5wcwoGYsU13kTA2L04xM3lh4t/XVA0tgnYKJTs4s2aL8G96fucmC8WnRZOkXBjvTf5f7wWrjhj9h6rLeGNR3a3++c9OjC7VvtE81zoIt/mN3JaPW4cPlL1HR50j4GJbbB+bLbHVVzaCwXm6mV96Ma59VU7wpmUAamVBGSa6601UjSUluFU7z+6ao4nfntWrM/ncq1//Bxf58i0MBxRbkgCgxex3x19r+qghlyV7kOILyTIwNHkjkLh6vXhjxThwW2XJsOIoqw1TWXnzdPiGHt5K8BeVb6RqCROJgqNVCFXf5vRDviYP0zpe+gwgIgJy7tGXVfvlKV4WDzh4BqDRsU4qUrmkxuk8wTI+u/cywABI0qumQ71gt76M6933uiYSFXvjJCkJmYwDzu7lUdLJ88mMRiCYRY="
