<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cmf.examples.example">
      <example
            aird="representations.aird"
            description="A sample OCCI SLA project."
            name="OCCI SLA Example"
            projectName="SLAExample"
            screenshot="My.jpg"
            semantic="My.sla">
      </example>
   </extension>

</plugin>
