<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.cmf.occi.infrastructure.design.Activator"
               id="org.eclipse.cmf.occi.infrastructure.design"
	       name="Infrastructure">
    </component>
  </extension>
   <!-- Popup menu for creating a Infrastructure configuration file. -->
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.cmf.occi.core.category.ID"
            name="OCCI Studio"/>
      <wizard
            category="org.eclipse.cmf.occi.core.occi-studio.category.ID"
            class="org.eclipse.cmf.occi.infrastructure.design.wizard.NewConfigurationWizard"
            icon="platform:/plugin/org.eclipse.cmf.occi.core.edit/icons/full/obj16/Configuration.gif"
            id="org.eclipse.cmf.occi.infrastructure.design.wizard.NewConfigurationWizard"
            name="Infrastructure Configuration File"/>
   </extension>
</plugin>
