<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2016 Inria

  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
  - Philippe Merle <philippe.merle@inria.fr>
-->
<plugin>

   <!-- New wizard for create a Java-based Connector project. -->
   <extension point="org.eclipse.ui.newWizards">
      <category
            id = "org.eclipse.cmf.occi.core.occi-studio.category.ID"
	        name="OCCI Studio">
      </category>
      <wizard
            class="org.eclipse.cmf.occi.core.gen.connector.ui.wizards.NewConnectorWizard"
            icon="icons/ConnectorProject.gif"
            id="org.eclipse.cmf.occi.core.gen.connector.ui.wizards.NewConnectorWizard"
            name="Java Connector Project"
            category="org.eclipse.cmf.occi.core.occi-studio.category.ID"
            project="true">
         <description>Create a new Java project to implement a connector for an OCCI Extension.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.cmf.occi.core.gen.connector.ui.popupMenus.contribution.IProject">
          <menu
               label="OCCI Studio"
               path="additionsOCCIStudio"
               id="org.eclipse.cmf.occi.core.occi-studio.ui.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.cmf.occi.core.gen.connector.ui.popupMenus.RegenerateConnectorAction"
               enablesFor="1"
               id="org.eclipse.cmf.occi.core.gen.connector.ui.popupMenus.acceleoGenerateConnectorAction"
               icon="icons/ConnectorProject.gif"
               label="Regenerate OCCI Connector"
               menubarPath="org.eclipse.cmf.occi.core.occi-studio.ui.menu/group"/>
      </objectContribution>
   </extension>
 </plugin> 
