<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright (c) 2015-2017 Obeo, Inria
 
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
- William Piers <william.piers@obeo.fr>
- Philippe Merle <philippe.merle@inria.fr>
- Faiez Zalila <faiez.zalila@inria.fr>
-->
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.cmf.occi.core.connector.jocci.Activator"
               id="org.eclipse.cmf.occi.core.connector.jocci"
	       name="OCCIware">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.eclipse.cmf.occi.core.occi-studio.category.ID"
           name="OCCI Studio">
     </category>
     <wizard
           category="org.eclipse.cmf.occi.core.occi-studio.category.ID"
           class="org.eclipse.cmf.occi.core.connector.jocci.wizards.NewConfigurationWizard"
           icon="platform:/plugin/org.eclipse.cmf.occi.core.edit/icons/full/obj16/Configuration.gif"
           id="org.eclipse.cmf.occi.core.connector.jocci.wizards.NewConfigurationWizard"
           name="OCCI Configuration File with jOCCI connector">
     </wizard>
  </extension>
</plugin>
