<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2015-2017 Obeo, Inria
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 	
 Contributors:
 - William Piers <william.piers@obeo.fr>
 - Philippe Merle <philippe.merle@inria.fr>
 - Faiez Zalila <faiez.zalila@inria.fr>
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated crtp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.cmf.occi.crtp.presentation.CrtpModelWizardID"
            name="%_UI_CrtpModelWizard_label"
            class="org.eclipse.cmf.occi.crtp.presentation.CrtpModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CrtpModelFile.gif">
         <description>%_UI_CrtpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated crtp -->
      <editor
            id="org.eclipse.cmf.occi.crtp.presentation.CrtpEditorID"
            name="%_UI_CrtpEditor_label"
            icon="icons/full/obj16/CrtpModelFile.gif"
            extensions="crtp"
            class="org.eclipse.cmf.occi.crtp.presentation.CrtpEditor"
            contributorClass="org.eclipse.cmf.occi.crtp.presentation.CrtpActionBarContributor">
      </editor>
   </extension>

</plugin>
