<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Popup menu for register an OCCI extension. -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.occie"
            id="org.eclipse.cmf.occi.core.ui.contribution1">
         <menu
               label="OCCI Studio"
               path="additionsOCCIStudio"
               id="org.eclipse.cmf.occi.core.occi-studio.ui.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="Register OCCI Extension"
               class="org.eclipse.cmf.occi.core.ui.popup.actions.RegisterOCCIExtensionAction"
               menubarPath="org.eclipse.cmf.occi.core.occi-studio.ui.menu/group"
               enablesFor="1"
               id="org.eclipse.cmf.occi.core.ui.RegisterOCCIExtension">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.cmf.occi.core.ui.contribution2">
         <menu
               label="OCCI Studio"
               path="additionsOCCIStudio"
               id="org.eclipse.cmf.occi.core.occi-studio.ui.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="Register All OCCI Extension"
               class="org.eclipse.cmf.occi.core.ui.popup.actions.RegisterAllOCCIExtensionAction"
               menubarPath="org.eclipse.cmf.occi.core.occi-studio.ui.menu/group"
               enablesFor="*"
               id="org.eclipse.cmf.occi.core.ui.RegisterAllOCCIExtension">
         </action>
      </objectContribution>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.cmf.occi.core.ui.contribution3"
            objectClass="org.eclipse.core.resources.IProject">
        <menu
               label="OCCI Studio"
               path="additionsOCCIStudio"
               id="org.eclipse.cmf.occi.core.occi-studio.ui.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.cmf.occi.core.ui.popup.actions.RegisterAllMetamodelAction"
               icon="icons/register.gif"
               menubarPath="org.eclipse.cmf.occi.core.occi-studio.ui.menu/group"
               enablesFor="*"
               id="org.eclipse.cmf.occi.core.ui.RegisterAllMetamodel"
               label="Register All EPackages"/>
      </objectContribution>
   </extension>
</plugin>
